@font-face {
  font-family: "Noto Emoji Variable";
  src: url("/fonts/NotoEmoji-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --colour-header: oklch(0.3 0 0 / 0.95);

  --colour-text: oklch(1 0 0);

  font-family: Arial, Helvetica, sans-serif, "Noto Emoji Variable";
  color: var(--colour-text);
  color-scheme: dark;
  user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#gameCanvas {
  height: 100%;
  width: 100%;
  touch-action: none;
}

#header {
  position: absolute;
  inset: 0 0 auto 0;
  box-shadow: 0 2px 2px rgb(0 0 0 / 0.2);
  height: 3rem;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  background-color: var(--colour-header);
}

#logo {
  font-weight: bold;
  font-size: 2rem;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
}
