:root {
  --colour-background: oklch(0.96 0 0);
  --colour-menu: oklch(0.6 0 0 / 0.5);

  --colour-text: black;

  --colour-border: oklch(0.6 0 0);
  --colour-shadow: oklch(0 0 0 / 0.1);

  --font-sans: "Noto Emoji", system-ui, -apple-system, sans-serif;

  background-color: var(--colour-background);
  font-family: var(--font-sans);
  color: var(--colour-text);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-background: oklch(0.36 0 0);
    --colour-menu: oklch(0.6 0 0 / 0.5);

    color-scheme: dark;
  }
}

* {
  min-height: 0;
  min-width: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.menu {
  position: absolute;
  padding: 0.25rem;
  gap: 0.25rem;
  background-color: var(--colour-menu);
  border: 1px solid var(--colour-border);
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px var(--colour-shadow);
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 8rem;

  > div {
    display: flex;
    gap: inherit;

    > * {
      flex: 1;
    }
  }
}

#menu-right {
  top: 0.5rem;
  right: 0.5rem;
}

#IMS {
  width: 100%;
  height: 100%;
}

button {
  padding: 0 0.25rem;
}
button:not(:disabled) {
  cursor: pointer;
}
